.container{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 20% 70%;
}